apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
spec:
  values:
    cluster:
      name: staging
      id: 2
    
    k8sServiceHost: $(API_SERVER_IP)
    k8sServicePort: "8443" # minikube cluster
    
    hubble:
      relay:
        replicas: 1
      ui:
        replicas: 1
        ingress:
          hosts:
            - hubble.staging.homelab.com
  
    encryption:
      enabled: false
    
    operator:
      replicas: 1
    
    resources:
      limits:
        memory: 2Gi
      requests:
        cpu: 500m
        memory: 1Gi