apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  interval: 10m
  dependsOn:
    - name: cilium
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./infrastructure/production/kube-prometheus-stack
  prune: true
  wait: true
  timeout: 15m
  retryInterval: 2m
  healthChecks:
    - apiVersion: apps/v1
      kind: Deployment
      name: kube-prometheus-stack-operator
      namespace: monitoring
      