apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/cilium
# - cilium-bgp-config.yaml
patches:
  - path: patch-values.yaml
    target:
      kind: HelmRelease
      name: cilium
      namespace: kube-system

vars:
  - name: API_SERVER_IP
    command: ["sh", "-c", "minikube ip --profile=production"]

configurations:
  - |-
    apiVersion: kustomize.config.k8s.io/v1beta1
    kind: KustomizeConfig
    varReference:
      - kind: HelmRelease
        path: spec/values/k8sServiceHost
# - path: patch-bgp-peering-policy.yaml
#   target:
#     kind: CiliumBGPPeeringPolicy
#     name: bgp-peering-policy
#     namespace: kube-system